{% extends 'blog/base.html' %}
{% block title %} 
    Django Blog
{% endblock %}
{% block content %}
    {% for post in posts %}
      <article class="media content-section">
        <img src="{{ post.author.profile.image.url }}" class="rounded-circle article-img">
        <div class="media-body">
          <div class="article-metadata">
            {% include 'blog/components/author_link.html' with author_name=post.author %}
              <small class="text-muted">{{ post.date_posted|date:'d/m/Y h:i:s'}}</small>
          </div>
          <h2><a class="article-title" href="{% url 'blog:post-detail' post.id %}">{{post.title}}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}

    {% if is_paginated %}

      {% include 'blog/components/paginator.html' %}

    {% endif %}
    
{% endblock content %}