{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %} New post {% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New post</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">
                    {% if object.id %}
                        Update
                    {% else %}
                        Post
                    {% endif %}
                </button>
                {% if object.id %}
                    <a class="btn btn-outline-danger" href="{% url 'blog:post-detail' object.id %}">Back</a>
                {% else %}
                    <a class="btn btn-outline-danger" href="{% url 'blog:home' %}">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}