{% extends 'blog/base.html' %}
{% block title %} Read me {% endblock title %}
{% block content %}
    <div class='content-section'>
        <h1 class='article-metadata'>Código usado para aprender Django</h1>
        <h2 class="article-title">Setup do projeto</h2>
        <ol>
            <li>
                Criar um <code>virtual environment</code>
                <ul>
                    <li> >virtualenv venv</li>
                    <li> > cd venv</li>
                    <li> > Scripts\activate</li>
                </ul>
            </li>
            <li>
                Clonar o <code>repositório</code>
                <ul>
                    <li> > mkdir blog_django</li>
                    <li> > cd blog_django</li>
                    <li> > git clone git@github.com:rjLelis/blog_django.git</li>
                </ul>
            </li>
            <li>
                Instalar as <code>dependências</code>
                <ul>
                    <li> > pip install -r requirements.txt</li>
                </ul>
            </li>
            <li>
                Rodar as <code>migrações</code>
                <ul>
                    <li> > python manage.py migrate</li>
                </ul>
            </li>
            <li>
                Criar <code>super user</code>
                <ul>
                    <li> > python manage.py createsuperuser</li>
                </ul>
            </li>
        </ol>
        <p><strong>Obs: O arquivo <code>post.json</code> serve para alimentar o banco de dados com as postagens. Para não haver conflito com o id do usuário, é necessário fazer a alteração no arquivo.</strong></p>
        <p><strong>Obs2: Algumas implementações são minhas.</strong></p>
        <p> <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">Curso</a> de Django</p>
    </div>
{% endblock %}